*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

/* HEADER SECTION START */

.row{
    display: flex;
   
}

#logo{
    font-size: 40px;
    color: rgb(188, 171, 171);
    z-index: 2;
}

#logo:hover{
   color: chocolate;
}
header{
    background-image: url(images/1.jpeg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(32, 9, 9);
    position: relative;
    z-index: 2;
}

header::before {
    content: "";
    width: 100%;
    height: 10vh;
    background-size: cover;
    position: absolute;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
}
header .row {

    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.about .row {
    gap: 20px;
    list-style-type: none;
}

header ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

header ul a:hover{
    color: chocolate;
}
.letter{
    position: absolute;
    bottom: 100px;
    right:100px;
    z-index: 2;
    text-align: end;
    line-height: 1.7;
}

h1{
 font-size:30px ;
 font-weight:100;
}

#one{
    font-size: 16px;
}

header .btn{
    background-color: transparent;
    padding: 10px 20px;
    font-size: 15px;
}

header .btn:hover{
    cursor: pointer;
    background-color:chocolate;
}

.menu{
    display: none;
}

/* Web1 SECTION */

.hero{
    padding:50px 100px;
    text-align: center;
 
}

.hero1 .services{
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.hero2{
    font-size: 20px;
    margin: 30px 0;
    color: rgb(188, 171, 171);

}

.hero3{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    
}

.hero6{
    text-align: start;
}

.hero3 .row{
 width:45%;
 align-items: center;
 gap:20px;
}


.hero5, .hero6{
    font-size: 20px;
    color: rgb(188, 171, 171);

}

/* Web2 SECTION */

.article{
  background-image: url(images/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.article1{
    backdrop-filter: blur(2px);
    padding: 100px 0px; 
    width: 100%;
    height: 100%;

}


.subscribe {
    color: white;
    font-size: 40px;
}

.address input{
    padding: 10px 160px;
    background-color: transparent;
}
.address input:hover{
    color: white
}

#web2 .btn{
    padding: 10px 100px;
    background-color: rgb(79, 214, 214);
}

#web2 .btn:hover{
    background-color: chocolate;
    cursor:  pointer;
}

/* Web3 SECTION */

.middle{
    padding: 50px;
}

.middle1{
    text-align: center;
    font-size: 30px;
}

#web3 .row{
    gap: 30px;
    padding: 50px 0px;
    flex-wrap: wrap;
    justify-content: center;
}



#web3 .row .pic1 img
{
    width: 100%;
    height: 100%;
   
}

#web3 .row .pic1{
    width:20%;
    height: 300px;
    border: solid 2px black;
    position: relative;
    z-index: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.lower {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
     z-index: 2;
    position: absolute;
  }
  
  #portimg:hover img
  {
    filter: brightness(60%);
    
  }
 
  
  #portimg:hover .lower {
    opacity: 1;
    filter: brightness(100%);
  }

  #web3 .porttext{
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 10px;
  }

  
#web3 .porttext,.plus,.more
{
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
    padding: 0;
    top:-100px;
    position: relative;
   
}
.ourpro{
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* Web4 SECTION */

#web4{
    background-color:bisque;
    height:fit-content;
    width: 100%;
    padding: 20px 50px;
}

.end1{
    background-color: rgb(187, 189, 189);
    width:300px;
    height:400px ;
    text-align: center;
    padding: 30px 10px;
}

#two{
    font-size: 30px;
}

.facebook{
    font-size: 50px;
}

#web4 .end2{
    padding: 30px 30px;
}

.general{
    font-size: 30px;
}

#web4 .end .row{
    gap:40px;
    font-size: 20px;
    margin-top: 30px;
}

.end3{
    width:50%;
}

.end3 form {
    font-size: 30px;
    padding: 30px;
}

.end3 form .name input{
    width:100%;
    height: 40px;
    margin-top: 10px;
    background-color: transparent;
}

.end3 form .message input{
    height: 110px;
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
}
.end3 form .row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.end3 form .btn{
    padding: 10px 50px;
    background-color: rgb(185, 186, 186);
}

.end3 form .btn:hover{
    cursor: pointer;
    background-color: chocolate;
}


/* FOOTER SECTION */

footer{
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
}

/* MEDIA SECTION START */

@media screen and (max-width: 1200px) {
    .container{
        width:100%;
    }

    header::before {
        content: "";
        width: 100%;
        height: 10vh;
    }

    .letter {
        bottom: 55px;
        right: 68px;
    }
        
}



@media screen and (max-width: 870px) {
    .container{
        width:100%;
    }
    header::before {
        content: "";
        width: 100%;
        height: 10vh;
    }

    header ul a {
        font-size: 18px;
    }
    header {
        width: 100%;
        height: 40vh;
    }

    .letter {
        bottom: 15px;
        right: 45px;
        line-height: 1.5;
    }
    h1 {
        font-size: 25px;
    }

    #one {
        font-size: 13px;
    }
    header .btn {
        padding: 6px 11px;
        font-size: 13px;
    }

    .hero {
        padding: 52px 69px;
    }

    .hero1 .services {
        font-size: 29px;
    }

    .hero2 {
        font-size: 19px;
        margin: 18px 0;
    }

    .hero5, .hero6 {
        font-size: 16px;
    }

    .subscribe {
        font-size: 30px;
    }

    .address input {
        padding: 10px 111px;
    }

    #web2 .btn {
        padding: 10px 68px;
    }

    .middle1 {
        font-size: 24px;
    }

    #web3 .row .pic1 {
        width: 21%;
        height: 220px;
}

#web3 .porttext, .und, .plus, .more {
    font-size: 16px;
    padding: 0px 29px;
    top: -68px;
}

.facebook {
    font-size: 31px;
}
#two {
    font-size: 24px;
}

.general {
    font-size: 24px;
}
#web4 .end .row {
    gap: 27px;
    font-size: 16px;
}

.end3 form {
    font-size: 18px;
    /* padding: 30px; */
}

.end3 form .name input {
    width: 100%;
    height: 37px;
}

.end3 form .message input {
    height: 110px;
    width: 100%;
}

.end3 form .btn {
    padding: 10px 32px;
}

#three{
    font-size: 20px;
}

#four{
    font-size: 20px;
}

}

@media screen and (max-width: 690px){

    header::before {
        content: "";
        width: 100%;
        height: 10vh;
    }


    br {
        display: none;
    }

    #logo {
        font-size: 30px;
    }

    header ul a {
        font-size: 8px;
    }
    h1 {
        font-size: 18px;
    }
    #one {
        font-size: 10px;
    }
    header .btn {
        padding: 6px 11px;
        font-size: 10px;
    }
    .hero1 .services {
        font-size: 24px;
    }

    .hero2 {
        font-size: 15px;
        margin: 15px 0;
    }

    .hero5, .hero6 {
        font-size: 13px;
    }

    .subscribe {
        font-size: 24px;
    }

    .address input {
        padding: 11px 53px;
    }

    #web2 .btn {
        padding: 10px 41px;
    }

    .article {
        padding: 74px 0px;
    }

    .middle1 {
        font-size: 20px;
    }

    .middle {
        padding: 38px;
    }

    #web3 .row .pic1 {
        width: 45%;
        height: 220px;
    }

    #web4 .row{
        flex-direction: column;
    }

    #web4 .end .row {
        flex-direction: row;
    }

    .end1 {
        width: 100%;
        height: 150px;
        padding: 35px 10px;
    }

    #web4 {
        height: fit-content;
        width: 100%;
        padding: 20px 70px;
    }

    #web4 .end .row {
        font-size: 14px;
    }

    .end3 {
        width: 100%;
    }





    .end3 form {
        font-size: 20px;
        width: 100%;
    }

    #three {
        font-size: 16px;
    }

    #four {
        font-size: 17px;
    } 

}


@media screen and (max-width: 450px){

    header {
        width: 100%;
        height: 34vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .about ul{
        display: none;
    }

    .menu{
        display: block;
        z-index: 2;
        color: black;
    }

    #logo {
        font-size: 22px;
    }

    header .row{
        padding: 16px 5px;
    }

    h1 {
        font-size: 13px;
    }
    #one {
        font-size: 7px;
    }

    header .btn {
        padding: 6px 11px;
        font-size: 7px;
    }

    .hero1 .services {
        font-size: 17px;
    }

    .hero {
        padding: 28px 11px;
    }

    .hero3 .row{
        width: 100%;
    }

    .hero5, .hero6 {
        font-size: 11px;
    }

    .article {
        padding: 30px 0px;
    }

    .subscribe {
        font-size: 16px;
    }
    .address input {
        padding: 9px 2px;
    }

    #web2 .btn {
        padding: 9px 28px;
    }

    .middle1 {
        font-size: 14px;
    }

    #web3 .row .pic1 {
        width: 100%;
        height: 300px;
    }

    .end1 {
        width: 100%;
        height: 122px;
        padding: 31px 0px;
    }
    #two {
        font-size: 15px;
    }

    .facebook {
        font-size: 20px;
    }

    .general {
        font-size: 15px;
    }

    #web4 .end .row {
        font-size: 12px;
    }

    .end3 form {
        font-size: 10px;
    }

    #four,#three {
        font-size: 13px;
    }

    #web4 {
        height: fit-content;
        width: 100%;
        padding: 20px 0px;

}

}

@media screen and (max-width: 420px){
    header::before {
        content: "";
        width: 100%;
        height: 8vh;
    }
}

@media screen and (max-width: 360px){
    header::before {
        content: "";
        width: 100%;
        height: 8vh;
    }

    header .row {
        padding: 7px 5px;
    }

    #logo {
        font-size: 16px;
    }

    .article {
        padding: 0px ;
    }

}







